In [1]:
import statistics
import math
from sklearn.metrics import roc_auc_score
from scipy.io import arff
from scipy.stats.stats import pearsonr
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import PoissonRegressor
from sklearn.experimental import enable_hist_gradient_boosting  # noqa
from sklearn.ensemble import HistGradientBoostingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import scale 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge, RidgeCV, Lasso, LassoCV
from sklearn.metrics import mean_squared_error
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline
plt.style.use('fivethirtyeight')
plt.rcParams['figure.figsize'] = (15,5)

In [2]:
zia = pd.read_csv('testd.csv',  header=0)
zia.head()

   effort   vi  time
0     222  3.0    74
1     128  4.0    32
2     114  5.0    23
3      88  3.0    29
4     335  5.0    67

In [3]:
 zia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   effort  100 non-null    int64
 1   vi      100 non-null    float64
 2   time    100 non-null    int64
dtypes: float64(1), int64(2)
memory usage: 2.5 KB

In [4]:
zia.describe()

           effort          vi        time
count  100.000000  100.000000  100.000000
mean   204.390000    3.705000   57.540000
std     80.570052    0.817408   24.059447
min     62.000000    2.400000   17.000000
25%    134.750000    3.000000   36.750000
50%    204.500000    3.900000   56.000000
75%    277.750000    4.000000   74.250000
max    348.000000    5.000000  115.000000

In [5]:

zia.corr()

          effort        vi      time
effort  1.000000  0.149985  0.833673
vi      0.149985  1.000000 -0.376466
time    0.833673 -0.376466  1.000000

In [6]:
features = ['time','vi','effort']

max_corr_features =[ 'time','vi']


X = zia[max_corr_features]
y = zia['effort']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=22)

In [7]:
res = pd.DataFrame(np.zeros((len(y_test), 1)))

MULTI LAYER PERCEPTRON REGRESSION

In [9]:
from sklearn.neural_network import MLPRegressor
regr = MLPRegressor(random_state=1, max_iter=30000).fit(X_train, y_train)
predictions = regr.predict(X_test)

norm1 = np.linalg.norm(predictions)
predictions = predictions/norm1

norm2 = np.linalg.norm(y_test)
y_test = y_test/norm2


from sklearn.metrics import r2_score
print("R^2 Score: ", r2_score(y_test, predictions))

MRE=np.abs(np.subtract(y_test,predictions)/y_test)
P=MRE[MRE<=0.25]

ped=(P.size/MRE.size) * 100
print(P.size)
print("PRED is ",ped)
MdMRE=np.median(MRE)
print("MdMRE is ",MdMRE)

print("Mean Magnitude of Relative Error:", np.abs(np.divide(np.subtract(y_test,predictions), y_test)).mean())

R^2 Score:  0.9942464765546292
19
PRED is  95.0
MdMRE is  0.008407919743546165
Mean Magnitude of Relative Error: 0.028091790121918543